<h1>My Movies</h1>
<ul>
  {{#each movies}}
    <li>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Review: {{this.review}}/5</p>
      
      <form action="/delete-movie/{{this._id}}" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
      
      <a href="/edit-movie/{{this._id}}">Edit</a>
    </li>
  {{/each}}
</ul>